body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-size: 30px;
}

button {
  font-size: 20px;
}

.layout__clone {
  margin-bottom: 15px;
}

.layout__clone:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.layout__clone:nth-child(2) button {
  margin-right: 5px;
  margin-top: 10px;
}

.layout__clone:nth-child(4) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time__check {
  color: tomato;
}
